body {
   background-color: #ffffff;
}
/* HEADER */

a {
   text-decoration: none solid #ffffff;
}
.apply-button {
   font-size: 12px;
   font-weight: 600;
   text-decoration: none solid white;
   color: #ffffff;
   background-color: #4a50bb;
   border-radius: 4px;
   padding: 12px 20px 12px 20px;
}

header {
   box-sizing: border-box;
   height: 90px;
   width: 1670px;
   min-width: auto;
   padding: 0 20px 0 20px;
   font-family: "Work Sans", sans-serif;
   cursor: pointer;
}

.header-container,
.nav-menu {
   display: flex;
   min-width: auto;
   min-height: auto;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

.header-container {
   height: 90px;
   width: 1285px;
   max-width: 1285px;
   margin-left: 155px;
   margin-right: 160px;
   justify-content: space-between;
   align-items: center;
}

img {
   width: 98px;
   height: 53px;
   display: inline;
}

.links {
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.links li {
   display: inline;
   margin: 0 20px;
}
nav {
   text-decoration: none;
   color: #000000;
   font-size: 12px;
}

.nav-menu {
   text-transform: uppercase;
}

/* MAIN */

/* Our-program*/

/* General rules on the following classes */
.op-container-1,
.op-container-2,
.op-container-3,
.our-program-left,
.our-program-right,
.btn-discover {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 16px;
}

/* Specifics rules for containers from highest to lowest hierarchy */
.op-container-1 {
  overflow: hidden;
  background-color: #ffffff; 
  flex: 0 0 auto;
  flex-direction: row;
  width: 100%;
  max-width: 1904;
  max-height: 620px;
  padding: 50px 20px;
  position: relative;
  float: none;
  line-height: 16px;
  z-index: 1;
}

.op-container-2 {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center; /* moz-box-pack is a property for a better optimization in mozilla firefox*/
  justify-content: center;
  -moz-box-align: center; /* moz-box-align is a property for a better optimization in mozilla firefox*/
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.op-container-3 {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Rules for left container */
.our-program-left {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 640px;
  max-width: 640px;
  min-width: fit-content;
  padding-right: 50px;
}

/* Rules for h2 */
h2.op-title {
  margin: 0px 0px 20px 0px;
  font-family: "Work sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #1c2294;
  line-height: 20px;
  word-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  max-width: none;
}

/* Rules for paragraph */
p.op-paragraph {
  display: block;
  float: none;
  position: static;
  z-index: auto;
  margin: 0px 0px 20px 0px;
  font-family: "Space mono";
  font-weight: 300;
  color: #2d3037;
  text-align: left;
  max-width: 470px;
  min-height: 179.2px;
  line-height: 160%;
}

/* Rule for the bold in the paragraph */
.op-paragraph b {
   font-weight: bold;
   color: #4a50bb;
 }

/* Rules for link in button of the left container */
a.our-program-left {
  box-sizing: border-box;
  display: block;
  float: none;
  position: static;
  height: 19.2px;
  width: 100%;
  max-width: 116.283px;
  line-height: 16px;  
  z-index: auto;
}

/* Rules for the button of the left container */
.btn-discover {
  display: inline-flex;
  font-size: 12.2px;
  line-height: 160%;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 0px 0px 0px -20px;
  cursor: pointer;
  text-transform: uppercase;
  -moz-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  color: rgb(74, 80, 187);
}

.svg-op {
  margin: -2px 0px 0px 6px;
  width: 10.5px;
  height: 12px;
  aria-hidden="true";
  focusable="false";
  data-prefix="fas";
  data-icon="arrow-right";
  color: "inherit";
  data-side="right";
}
/* Rules for the button hover */
.btn-discover:hover {
  background-color: rgb(229, 229, 229);
}

/* Rules for the right container */
.our-program-right {
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  min-height: 300px;
  max-width: 640px;
  padding-left: 50px;
}

/* Rules for the image in the right container */
img.op-img {
  width: 590px;
  height: 400px;
  position: absolute 50px;
  color: #f8f9fc;
}

.op-img {
  width: 590px;
  height: 400px;
  background: #f8f8f8;
  border: #f8f9fc 0px;
  box-shadow: 236px -60.017px 0 #f8f9fc;
  -webkit-box-shadow: 236px -60px 0 #f8f9fc;
  -moz-box-shadow: 236px -60px 0 #f8f9fc;