/* Reset browser defaults */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* To keep the footer at bottom with flexbox */

body {
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
   flex-grow: 1;
}

/* Here starts the header */

a {
   text-decoration: none;
}

.apply-button-nav {
   font-size: 12px;
   font-weight: 600;
   text-decoration: none solid white;
   color: #ffffff;
   background-color: #4a50bb;
   border-radius: 4px;
   padding: 13px 20px 13px 20px;
   margin-bottom: 2%;
   transition: transform 0.2s;
}

.apply-button-nav:hover {
   box-shadow: 1px 1px 5px #dcd6e2;
   color: #ffffff;
   background-color: #3136a5;
   transform: scale(1.02);
}

.btn-apply-nav {
   display: flex;
}

header {
   box-sizing: border-box;
   display: flex;
   height: 87px;
   width: 1665px;
   min-width: auto;
   padding: 0 20px 0 20px;
   font-family: "Work Sans", sans-serif;
   cursor: pointer;
}

.header-container,
.nav-menu {
   display: flex;
   min-width: auto;
   min-height: auto;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

.header-container {
   height: 90px;
   width: 1285px;
   max-width: 1285px;
   margin-left: 155px;
   margin-right: 160px;
   justify-content: space-between;
   align-items: center;
}

.logo-header {
   width: 98px;
   height: 53px;
   display: inline;
   transition: transform 0.2s;
}

.logo-header:hover {
   transform: scale(1.03);
}

.links-nav {
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.links-nav a:visited {
   color: #000000;
}

.links-nav li {
   display: inline-flex;
   margin: 13px 20px 0 15px;
   padding-bottom: 9px;
   border-bottom: 3px solid transparent;
}

.links-nav li:hover {
   border-bottom: 3px solid #4a50bb;
}

.links-nav li:active {
   border-bottom: 3px solid #4a50bb;
}

.program-page,
.about-page,
.volunteer-page,
.support-page,
.faq-page {
   opacity: 0.6;
}

.program-page:hover {
   opacity: 1;
}

.about-page:hover {
   opacity: 1;
}

.volunteer-page:hover {
   opacity: 1;
}

.support-page:hover {
   opacity: 1;
}

.faq-page:hover {
   opacity: 1;
}

nav {
   font-size: 12px;
   background-color: white;
}

.nav-menu {
   text-transform: uppercase;
}
/* Here ends the header */

/* MAIN */

/* Here starts the Banner section */
.banner-hp {
   display: flex;
   position: relative;
   width: 1665px;
   height: 385px;
   min-width: auto;
   background-image: url("/IMAGES/homepage-header.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: transparent;
   z-index: 1;
}

.banner-hp::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.267);
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
   z-index: 1;
}

.banner-img {
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 21%;
   z-index: 10;
}

.banner-text {
   display: inline-flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 960px;
   height: 285px;
}

.new-talent {
   font-family: "Work Sans", sans-serif;
   font-size: 65px;
   font-weight: 700;
   color: #ffffff;
   text-align: center;
   line-height: 75px;
   text-transform: uppercase;
   width: 800px;
   height: 154px;
}

/* Here ends the Banner Section */

/* Our-program*/

/* General rules on the following classes */
.op-container-1,
.op-container-2,
.op-container-3,
.our-program-left,
.our-program-right,
.btn-discover {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-style: normal;
   text-decoration: none;
   box-sizing: border-box;
   line-height: 16px;
}

/* Specifics rules for containers from highest to lowest hierarchy */
.op-container-1 {
   overflow: hidden;
   background-color: #ffffff;
   flex: 0 0 auto;
   flex-direction: row;
   width: 100%;
   max-width: 1904;
   max-height: 620px;
   padding: 50px 20px;
   position: relative;
   float: none;
   line-height: 16px;
   z-index: 1;
}

.op-container-2 {
   display: flex;
   flex-direction: column;
   -moz-box-pack: center; /* moz-box-pack is a property for a better optimization in mozilla firefox*/
   justify-content: center;
   -moz-box-align: center; /* moz-box-align is a property for a better optimization in mozilla firefox*/
   align-items: center;
   width: 100%;
   max-width: 1280px;
   padding: 10px 0px;
   margin: 0px auto;
}

.op-container-3 {
   padding: 50px 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

/* Rules for left container */
.our-program-left {
   display: flex;
   flex-direction: column;
   min-height: 300px;
   width: 640px;
   max-width: 640px;
   min-width: fit-content;
   padding-right: 50px;
}

/* Rules for h2 */
h2.op-title {
   margin: 0px 0px 20px 0px;
   font-family: "Work sans", sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: #1c2294;
   line-height: 20px;
   word-spacing: normal;
   text-align: left;
   text-transform: uppercase;
   font-weight: 700;
   max-width: none;
}

/* Rules for paragraph */
p.op-paragraph {
   display: block;
   float: none;
   position: static;
   z-index: auto;
   margin: 0px 0px 20px 0px;
   font-family: "Space mono";
   font-weight: 300;
   color: #2d3037;
   text-align: left;
   max-width: 470px;
   min-height: 179.2px;
   line-height: 160%;
}

/* Rule for the bold in the paragraph */
.op-paragraph b {
   font-weight: bold;
   color: #4a50bb;
}

/* Rules for link in button of the left container */
.our-program-left {
   box-sizing: border-box;
   display: block;
   float: none;
   position: static;
   height: 19.2px;
   width: 100%;
   max-width: 116.283px;
   line-height: 16px;
   z-index: auto;
}

/* Rules for the button of the left container */
.btn-discover {
   display: inline-flex;
   font-size: 12.2px;
   line-height: 160%;
   font-weight: 600;
   border: 1px solid transparent;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px 20px;
   margin: 0px 0px 0px -20px;
   cursor: pointer;
   text-transform: uppercase;
   -moz-box-align: center;
   align-items: center;
   font-family: "Work Sans", sans-serif;
   background-color: transparent;
   color: rgb(74, 80, 187);
}

.svg-op {
   margin: -2px 0px 0px 6px;
   width: 10.5px;
   height: 12px;
   aria-hidden: "true";
   focusable: "false";
   data-prefix: "fas";
   data-icon: "arrow-right";
   color: "inherit";
   data-side: "right";
}

/* Rules for the button hover */
.btn-discover:hover {
   background-color: rgb(229, 229, 229);
}

/* Rules for the right container */
.our-program-right {
   display: flex;
   flex: 0 1 100%;
   flex-direction: row;
   min-height: 300px;
   max-width: 640px;
   padding-left: 50px;
}

/* Rules for the image in the right container */
img.op-img {
   width: 590px;
   height: 400px;
   position: absolute 50px;
   color: #f8f9fc;
}

.op-img {
   width: 590px;
   height: 400px;
   background: #f8f8f8;
   border: #f8f9fc 0px;
   box-shadow: 236px -60.017px 0 #f8f9fc;
   -webkit-box-shadow: 236px -60px 0 #f8f9fc;
   -moz-box-shadow: 236px -60px 0 #f8f9fc;
}

/* PARTNERS SECTION */

/* values section */

.values {
   padding: 50px 20px 50px 20px;
   width: 1665px;
}

.values-container {
   width: 1285px;
   max-height: auto;
   max-width: 1285px;
   margin-left: 150px;
   margin-right: 160px;
   padding: 80px 140px 80px 80px;
   min-width: auto;
   min-height: auto;
   box-sizing: border-box;
   background-color: #f8f9fc;
}

.values-header {
   margin-bottom: 20px;
   text-transform: uppercase;
   font-family: "Work Sans", sans-serif;
   font-weight: 700;
   font-size: 24px;
   color: rgb(28, 34, 148);
   text-align: left;
   max-width: none;
}

.values-table {
   width: 1200px;
   max-width: 1200px;
   max-height: 600px;
   display: inline-block;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   box-sizing: border-box;
}

h4 {
   font-family: "Work Sans", sans-serif;
   font-weight: 700;
   font-size: 20px;
   margin: 0 0 20px 0;
   color: #1c2294;
   text-align: left;
}

.value-diversity,
.value-community,
.value-commitment,
.value-open {
   margin: 0 0 50px 0;
   height: 263px;
   width: 432px;
}

.community-img,
.diversity-img,
.commitment-img,
.open-img {
   margin: 0 0 20px 0;
}

.values-text {
   font-size: 16px;
   font-family: "Space Mono", monospace;
   font-weight: 300;
   font-size: 16px;
   color: #2d3037;
   width: 400px;
   line-height: 24px;
   word-wrap: break-word;
   word-spacing: 0;
}

/* our partners section */
.partners {
   padding: 0 20px 0 20px;
   width: 1665px;
}

h2 {
   font-family: "Work Sans", sans-serif;
   display: flex;
   box-sizing: border-box;
   width: 1665px;
   min-height: auto;
   min-width: auto;
}

.partners-container {
   width: 1285px;
   max-width: 1285px;
   margin-left: 155px;
   margin-right: 160px;
   justify-content: space-between;
   align-items: center;
   min-width: auto;
   min-height: auto;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

.partners-head {
   display: flex;
   justify-content: space-between;
   height: 30px;
}

.partners-h {
   margin-bottom: 20px;
   text-transform: uppercase;
   font-family: "Work Sans", sans-serif;
   font-weight: 700;
   font-size: 24px;
   color: rgb(28, 34, 148);
   text-align: left;
   max-width: none;
}

.btn-partners {
   display: inline-flex;
   font-size: 12.2px;
   line-height: 160%;
   font-weight: 600;
   border: 1px solid transparent;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px 20px;
   margin: 0px 0px 0px -20px;
   cursor: pointer;
   text-transform: uppercase;
   -moz-box-align: center;
   align-items: center;
   font-family: "Work Sans", sans-serif;
   background-color: transparent;
   color: rgb(74, 80, 187);
}

.btn-partners:hover {
   background-color: rgb(229, 229, 229);
}

.partners-icons {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
}

/* Here starts the footer */

footer {
   display: flex;
   position: relative;
   box-sizing: border-box;
   width: 1665px;
   min-width: auto;
   height: 320px;
   padding: 40px 16px;
   box-shadow: 0 0 50px 0 #ededee;
}

.ft-address {
   display: block;
   text-align: center;
   font-size: 16px;
   width: 268px;
   height: 150px;
   line-height: 24px;
   word-wrap: break-word;
   word-spacing: 0;
}

.ft-contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 220px;
   width: 1280px;
   max-width: 1280px;
   min-width: auto;
   padding: 8px 0px 8px 0px;
   margin-left: 11%;
   font-family: "Space Mono", monospace;
   font-weight: 300;
   font-size: 16px;
   color: #2d3037;
}
.ft-email {
   word-spacing: 0;
   font-size: 16px;
   padding-bottom: 5px;
}

a.ft-email:link {
   color: #2d3037;
}
.ft-title {
   display: block;
   font-family: "Work Sans", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   margin-bottom: 20px;
   color: #1c2294;
   text-transform: uppercase;
   width: 720px;
   height: 32px;
}

.icon-link1 {
   display: inline-flex;
   width: 27px;
   height: 27px;
   margin-right: 2%;
   margin-left: 2.5%;
}

.icon-link2,
.icon-link3,
.icon-link4 {
   display: inline-flex;
   width: 27px;
   height: 27px;
   margin-right: 2.5%;
   margin-left: 2.5%;
}

.social-media {
   display: inline-block;
   width: 200px;
   height: 33px;
   margin-top: 16px;
   margin-left: 25px;
}

.social-media {
   opacity: 0.9;
}

.social-media:hover {
   opacity: 1;
}

/* Here ends the Footer */

/* PROGRAM PAGE */

/* Here starts the Application section */

.apps-section {
   display: flex;
   position: relative;
   height: 595px;
   width: 1665px;
   padding: 0px 0px 20px 0px;
   min-width: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.apps-container {
   display: flex;
   height: 595px;
   width: 1280px;
   margin: 0px 170px 0px 170px;
   max-width: 1280px;
   min-width: auto;
   z-index: 2;
}

.apps-right {
   height: 595px;
   width: 1667px;
   margin-left: 7.2%;
}
.apps-left {
   width: 570px;
   height: 465px;
   padding-bottom: 10px 0px 10px 0px;
   margin-top: 72px;
}
.b-text {
   color: #4a50bb;
}
.btn-apply-program {
   display: flex;
   font-size: 12px;
   font-family: "Work Sans", sans-serif;
   font-weight: 600;
   line-height: 18px;
   text-align: center;
   text-decoration: none solid white;
   color: #ffffff;
   background-color: #4a50bb;
   border-radius: 4px;
   padding: 12px 20px 10px 20px;
   text-transform: uppercase;
   width: 112px;
   height: 42px;
   min-width: auto;
   cursor: pointer;
   transition: transform 0.2s;
}

.btn-apply-program:hover {
   box-shadow: 1px 1px 5px #efeff0;
   color: #ffffff;
   background-color: #3136a5;
   transform: scale(1.02);
}

.career-apps {
   display: inline;
   height: 595px;
   width: 832.5px;
   min-width: auto;
   margin-bottom: 25px;
}

.new-career-apps {
   display: block;
   font-family: "Work Sans", sans-serif;
   font-size: 36px;
   font-weight: 700;
   color: #4a50bb;
   text-align: left;
   line-height: 43px;
   text-transform: uppercase;
   height: 85px;
   width: 575px;
   margin: 0 0 20px 0;
}

.p1-apps {
   display: block;
   font-family: "Space Mono", monospace;
   font-size: 16px;
   font-weight: lighter;
   color: #2d3037;
   text-align: left;
   line-height: 25px;
   height: 172px;
   width: 575px;
   margin: 10px 0 10px 0;
   white-space: pre-wrap;
   word-spacing: 0px;
}
.p2-apps,
.p3-apps {
   display: block;
   font-family: "Space Mono", monospace;
   font-size: 16px;
   font-weight: 300;
   line-height: 25.5px;
   text-align: left;
   text-decoration: underline solid #4a50bb;
   color: #4a50bb;
   white-space: pre-wrap;
   word-spacing: 0px;
}

.p2-apps {
   height: 25px;
   width: 540px;
   margin: 10px 0 12px 0;
}

.p3-apps {
   height: 25px;
   width: 462px;
   margin: 10px 0 50px 0;
}
/* Here ends the Application section */

/* Here starts the Full Curriculum section */

.btn-coach {
   height: 60px;
   width: 200px;
   padding: 10px 0px 10px 0px;
   transition: transform 0.2s;
}
.btn-coach:hover {
   transform: scale(1.02);
}

.button-coaches-fp {
   font-size: 12px;
   font-family: "Work Sans", sans-serif;
   font-weight: 600;
   text-decoration: none solid white;
   color: #ffffff;
   background-color: #4a50bb;
   border-radius: 4px;
   padding: 10px 20px 10px 20px;
   text-transform: uppercase;
   cursor: pointer;
}

.button-coaches-fp:hover {
   box-shadow: 1px 1px 5px #efeff0;
   color: #ffffff;
   background-color: #3136a5;
}

.btn-modules {
   height: 60px;
   width: 315px;
   margin: 9px 0 5px 0;
   padding: 12px 0px 12px 0px;
   transition: transform 0.2s;
}
.btn-modules:hover {
   transform: scale(1.02);
}

.button-modules-fp {
   font-size: 12px;
   font-family: "Work Sans", sans-serif;
   font-weight: 600;
   text-decoration: none solid white;
   color: #ffffff;
   background-color: #4a50bb;
   border-radius: 4px;
   padding: 11px 20px 11px 20px;
   text-transform: uppercase;
   cursor: pointer;
}

.button-modules-fp:hover {
   box-shadow: 1px 1px 5px #efeff0;
   color: #ffffff;
   background-color: #3136a5;
}

.core-curriculum {
   display: flex;
   justify-content: space-between;
   height: 305px;
   width: 1280px;
   min-width: auto;
   margin: 9px 170px 9px 170px;
}

.full-program {
   display: flex;
   position: relative;
   height: 430px;
   width: 1665px;
   padding: 50px 20px;
}

.fp-program {
   display: block;
   font-family: "Work Sans", sans-serif;
   font-weight: 700;
   font-size: 24px;
   color: #1c2294;
   height: 35px;
   width: 265px;
   margin: 5px 0 20px 0;
   text-transform: uppercase;
}

.fp-left {
   display: flex;
   flex-direction: column;
   order: 1;
   align-items: auto;
   height: 175px;
   width: 350px;
   min-width: auto;
   margin: 58px 0px 40px 0px;
}

.fp-right {
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 5px;
   order: 2;
   align-items: auto;
   width: 590px;
   height: 305px;
}

.fp-right > div {
   margin: 0px -1px 0px 2px;
}

.lang-1,
.lang-2,
.lang-3,
.lang-4,
.lang-5,
.lang-6 {
   display: inline-flex;
   width: 191px;
   height: 150px;
}

.html-icon,
.css-icon,
.js-icon,
.nodejs-icon,
.data-icon,
.react-icon {
   display: block;
   width: 65px;
   height: 60px;
   align-self: flex-start;
   margin: 30px 10px 20px 69px;
}

.html-p,
.css-p,
.js-p,
.nodejs-p,
.data-p,
.react-p {
   display: inline-block;
   font-family: "Work Sans", sans-serif;
   font-weight: 300;
   font-size: 16px;
   color: #1c2294;
   align-self: center;
}

.html-p {
   height: 25px;
   width: 50px;
   margin: 0px 0px -70px -64px;
}

.css-p {
   height: 26px;
   width: 45px;
   margin: 10px;
   margin: 0px 0px -70px -58px;
}
.js-p {
   height: 26px;
   width: 78px;
   margin: 0px 0px -70px -80px;
}
.nodejs-p {
   height: 26px;
   width: 60px;
   margin: 0px 0px -70px -72px;
}
.data-p {
   height: 25px;
   width: 70px;
   margin: 0px 0px -70px -75px;
}
.react-p {
   height: 26px;
   width: 50px;
   margin: 0px 0px -70px -65px;
}

/* Here ends the Full Curriculum section */
