body {
   background-color: #ffffff;
}

/* Here starts the header */

a {
   text-decoration: none;
}

.apply-button-nav {
   font-size: 12px;
   font-weight: 600;
   text-decoration: none solid white;
   color: #ffffff;
   background-color: #4a50bb;
   border-radius: 4px;
   padding: 13px 20px 13px 20px;
   margin-bottom: 2%;
   transition: transform 0.2s;
}

.apply-button-nav:hover {
   box-shadow: 1px 1px 5px #dcd6e2;
   color: #ffffff;
   background-color: #3136a5;
   transform: scale(1.02);
}

.btn-apply-nav {
   display: flex;
}

header {
   box-sizing: border-box;
   display: flex;
   height: 87px;
   width: 1665px;
   min-width: auto;
   padding: 0 20px 0 20px;
   font-family: "Work Sans", sans-serif;
   cursor: pointer;
}

.header-container,
.nav-menu {
   display: flex;
   min-width: auto;
   min-height: auto;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

.header-container {
   height: 90px;
   width: 1285px;
   max-width: 1285px;
   margin-left: 155px;
   margin-right: 160px;
   justify-content: space-between;
   align-items: center;
}

.logo-header {
   width: 98px;
   height: 53px;
   display: inline;
   transition: transform 0.2s;
}

.logo-header:hover {
   transform: scale(1.03);
}

.links-nav {
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.links-nav a:visited {
   color: #000000;
}

.links-nav li {
   display: inline-flex;
   margin: 13px 20px 0 15px;
   padding-bottom: 9px;
   border-bottom: 3px solid transparent;
}

.links-nav li:hover {
   border-bottom: 3px solid #4a50bb;
}

.links-nav li:active {
   border-bottom: 3px solid #4a50bb;
}

.program-page,
.about-page,
.volunteer-page,
.support-page,
.faq-page {
   opacity: 0.6;
}

.program-page:hover {
   opacity: 1;
}

.about-page:hover {
   opacity: 1;
}

.volunteer-page:hover {
   opacity: 1;
}

.support-page:hover {
   opacity: 1;
}

.faq-page:hover {
   opacity: 1;
}

nav {
   font-size: 12px;
   background-color: white;
}

.nav-menu {
   text-transform: uppercase;
}

/* Here ends the header */

/* our partners section */
.partners {
   padding: 10px 0 10px 0;
   width: 1144px;
}

h2 {
   font-family: "Work Sans", sans-serif;
   display: flex;
   box-sizing: border-box;
   width: 1665px;
   min-height: auto;
   min-width: auto;
}

.partners-container {
   width: 1285px;
   max-width: 1285px;
   margin-left: 155px;
   margin-right: 160px;
   justify-content: space-between;
   align-items: center;
   min-width: auto;
   min-height: auto;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

.partners-head {
   display: flex;
   justify-content: space-between;
   height: 30px; 
}

.partners-h {
   margin-bottom: 20px;
   text-transform: uppercase;
   font-family: "Work Sans", sans-serif;
   font-weight: 700;
   color: rgb(28, 34, 148);
   text-align: left;
   max-width: none;
}

.partners-link {
   display: inline-flex;
   font-size: 12px;
   line-height: 80%;
   text-decoration: none;
   font-weight: 600;
   border: 1px solid transparent;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 2px 2px;
   cursor: pointer;
   text-transform: uppercase;
   -webkit-box-align: center;
   align-items: center;
   font-family: "Work Sans", sans-serif;
   background-color: transparent;
   color: rgb(74, 80, 187);
}

.partners-link:hover {
   background: lightgray;
}

.partners-icons {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
}

/* PROGRAM PAGE */

/* Here starts the Application section */

.apps-section {
   display: flex;
   position: relative;
   height: 595px;
   width: 1665px;
   padding: 0px 0px 20px 0px;
   min-width: auto;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.apps-container {
   display: flex;
   height: 595px;
   width: 1280px;
   margin: 0px 170px 0px 170px;
   max-width: 1280px;
   min-width: auto;
   z-index: 2;
}

.apps-right {
   height: 595px;
   width: 1667px;
   margin-left: 7.2%;
}
.apps-left {
   width: 570px;
   height: 465px;
   padding-bottom: 10px 0px 10px 0px;
   margin-top: 72px;
}
.b-text {
   color: #4a50bb;
}
.btn-apply-program {
   display: flex;
   font-size: 12px;
   font-family: "Work Sans", sans-serif;
   font-weight: 600;
   line-height: 18px;
   text-align: center;
   text-decoration: none solid white;
   color: #ffffff;
   background-color: #4a50bb;
   border-radius: 4px;
   padding: 12px 20px 10px 20px;
   text-transform: uppercase;
   width: 112px;
   height: 42px;
   min-width: auto;
   cursor: pointer;
   transition: transform 0.2s;
}

.btn-apply-program:hover {
   box-shadow: 1px 1px 5px #efeff0;
   color: #ffffff;
   background-color: #3136a5;
   transform: scale(1.02);
}

.career-apps {
   display: inline;
   height: 595px;
   width: 832.5px;
   min-width: auto;
   margin-bottom: 25px;
}

.new-career-apps {
   display: block;
   font-family: "Work Sans", sans-serif;
   font-size: 36px;
   font-weight: 700;
   color: #4a50bb;
   text-align: left;
   line-height: 43px;
   text-transform: uppercase;
   height: 85px;
   width: 575px;
   margin: 0 0 20px 0;
}

.p1-apps {
   display: block;
   font-family: "Space Mono", monospace;
   font-size: 16px;
   font-weight: lighter;
   color: #2d3037;
   text-align: left;
   line-height: 25px;
   height: 172px;
   width: 575px;
   margin: 10px 0 10px 0;
   white-space: pre-wrap;
   word-spacing: 0px;
}
.p2-apps,
.p3-apps {
   display: block;
   font-family: "Space Mono", monospace;
   font-size: 16px;
   font-weight: 300;
   line-height: 25.5px;
   text-align: left;
   text-decoration: underline solid #4a50bb;
   color: #4a50bb;
   white-space: pre-wrap;
   word-spacing: 0px;
}

.p2-apps {
   height: 25px;
   width: 540px;
   margin: 10px 0 12px 0;
}

.p3-apps {
   height: 25px;
   width: 462px;
   margin: 10px 0 50px 0;
}
/* Here ends the Application section */